<!DOCTYPE html>
<html lang="es">
<head>
  <title>El Colegio del Olimpo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <style>
  .fakeimg {
    height: 200px;
    background: #aaa;
  }
  </style>
</head>
<body>

<div class="jumbotron text-center" style="margin-bottom:0">
  <h1>El Colegio del Olimpo</h1>
  <p>Sistema de Información Académica</p>
</div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/profesor1']">Profesor {{asignaturas[0].profesor.nombre}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/profesor2']">Profesor {{asignaturas[4].profesor.nombre}}</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/profesor3']">Profesor {{asignaturas[6].profesor.nombre}}</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Profesor</h2>
        <ul class="list-group">
          <li class="list-group-item">{{asignaturas[6].profesor.nombre}}</li>
        </ul>
      <br>
    </div>
    <div class="col-sm-8">
      <h2>Asignatura</h2>
        <ul class="list-group">
            <li class="list-group-item">{{asignaturas[6].nombre}}</li>
        </ul>
        <br>
        <h2>Curso</h2>
        <ul class="list-group">
            <li class="list-group-item">{{asignaturas[6].curso.grado+asignaturas[0].curso.salon}}</li>
        </ul>
        <br>
        <h2>Estudiantes</h2>
        <ul class="list-group">
          <li class="list-group-item">{{asignaturas[6].estudiantes[0].nombre}}</li>
            <li class="list-group-item">{{asignaturas[6].estudiantes[1].nombre}}</li>
          <li class="list-group-item">{{asignaturas[6].estudiantes[2].nombre}}</li>
        </ul>
        <br>
    </div>
  </div>
</div>

<div class="container" style="margin-top:30px">
  <div class="row">
    <div class="col-sm-4">
      <h2>Profesor</h2>
        <ul class="list-group">
          <li class="list-group-item">{{asignaturas[7].profesor.nombre}}</li>
        </ul>
      <br>
    </div>
    <div class="col-sm-8">
      <h2>Asignatura</h2>
        <ul class="list-group">
            <li class="list-group-item">{{asignaturas[7].nombre}}</li>
        </ul>
        <br>
        <h2>Curso</h2>
        <ul class="list-group">
            <li class="list-group-item">{{asignaturas[7].curso.grado+asignaturas[1].curso.salon}}</li>
        </ul>
        <br>
        <h2>Estudiantes</h2>
        <ul class="list-group">
          <li class="list-group-item">{{asignaturas[7].estudiantes[0].nombre}}</li>
            <li class="list-group-item">{{asignaturas[7].estudiantes[1].nombre}}</li>
          <li class="list-group-item">{{asignaturas[7].estudiantes[2].nombre}}</li>
        </ul>
        <br>
    </div>
  </div>
</div>

<div class="jumbotron text-center" style="margin-bottom:0">
</div>

</body>
</html>
